<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%- pageTitle %> | <%- siteTitle %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/modern-business.css">

    <!-- jQuery first, then Bootstrap JS. -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script src="js/bootstrap.bundle.js"></script> -->
    <!-- Required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.4/pixi.min.js"></script>
    <script type="text/javascript">
        
    </script>

    <!-- <script src="js/lc4_visual.js"></script> -->
    <!-- <script src="" -->
    
  </head>
  <body>

    <%- partial("partial/_header")%>

    <%- yield %>

    <%- partial("partial/_footer") %>

  </body>

  <script src="js/lc4_main.js"></script>
</html>
